/* uni-app 内置样式变量 */
$uni-color-primary: #ff6b2c;
$uni-color-success: #07c160;
$uni-color-warning: #f0ad4e;
$uni-color-error: #ff3b30;

$uni-text-color: #333;
$uni-text-color-grey: #999;
$uni-bg-color: #f6f6f6;
$uni-bg-color-grey: #f5f5f5;
$uni-border-color: #e8e8e8;
